p{
  font-family: "adobe-garamond-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin smallCaps{
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  font-size: rem(12);
  line-height: 12px;
  line-height: rem(12);
  letter-spacing: 0.08em;
}
