.content{
  width: 600px;

  @media only screen and (max-width: $largeBreak) { padding: 0 40px; margin: 0 auto; }
  @media only screen and (max-width: $mediumBreak) {
    width: auto;
    padding: 0 15px;
  }
}

.block{
  margin: 0 0 40px 0;
  .block-title{ @include smallCaps; }
  @media only screen and (max-width: $mediumBreak) {
    margin: 0 0 20px 0;
  }
}

.block.intro{
  p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    font-size: rem(24);
    line-height: 32px;
    line-height: rem(32);
  }

  @media only screen and (max-width: $mediumBreak) {
    display: none;
  }
}

.sub-block{
  margin: 0 0 20px 0;
  border-bottom: 1px solid $colorLtGrey;
  padding: 0 0 10px 0;

  .title{}
  .company{}
  .date{
    .strike{ text-decoration: line-through; }
    .unavailable{ color: #ff55a5; @include smallCaps; }
  }
  .roles{
    margin-bottom: 0;
    li{
      margin: 0 0 5px 0;
    }
    li.strong{ font-weight: bold; }
  }

  &.current{
    background: $colorLtrGrey;
    padding: 20px 20px 10px 20px;
    margin-left: -20px;
    border-bottom: 0;
  }

  &:last-child{
    margin-bottom: 0;
  }

  @media only screen and (max-width: $mediumBreak) {
    .details{ display: none; }
    &.current{
      margin-left: 0;
    }
  }
}

.projects{
  @include nav;
  li{
    margin: 0 0 15px 0;
  }
}

.Page{
  &-breadcrumb.ui.breadcrumb {
    margin: 0 0 20px 0;
    > a{
      color: $colorPrimary;
    }
  }
  &-block{
    margin: 0 0 10px 0;
    &-section{
      margin: 0 0 25px 0;
    }
  }
}

.lessons {
  margin: 0;
  padding: 0;
  list-style: none;
  > .lesson {
    padding: 0;
    margin: 0 0 10px 0;
    &._officehours {
      font-style: italic;
      color: $colorSecondary;
    }
    &._afk {
      opacity: .45;
      font-style: italic;
    }
  }
}
.lesson-date {
  font-weight: bold;
}
.lesson-sub {
  opacity: .45;
  font-style: italic;
}

.ui.form{
  width: 65%;
  .validation_error,
  .gfield_required,
  .validation_message{
    color: #D4662C;
    font-weight: bold;
  }
  .validation_error{
    margin: 0 0 10px 0;
  }
  .validation_message{
    padding: 10px 0;
  }
  .gfield_required{
    padding: 0 0 0 5px;
  }
  .gform_fields{
    margin: 0;
    padding: 0;
  }
  .gfield{
    display: block;
    margin: 0 0 10px 0;
    > label{
      display: block;
      color: $colorBodyCopy;
      margin: 0 0 5px 0;
      font-weight: bold;
    }
  }
  .gfield_checkbox{
    list-style: none;
    margin: 0;
    padding: 0;
    > li{
      margin: 0 0 5px 0;
      position: relative;
      padding: 0 0 0 20px;
      display: block;
      > input[type="checkbox"]{
        top: 3px;
        left: 0;
        position: absolute;
        cursor: pointer;
      }
      > label {
        cursor: pointer;
      }
    }
  }
  .button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    background: $colorPrimary;
    color: $white;
    &:hover {
      background: darken($colorPrimary, 5);
    }
  }
}

.resources{
  .resource{
    margin: 0 0 5px 0;
    &-submitter{
      font-style: italic;
      font-size: 12px;
      opacity: .5;
    }
  }
}
